body{
    background-color: #2c3e50;
}
.wrapper_box{
    margin:50px auto;
    width:75%;
    text-align: center;
    background: rgb(52,73,94);
    background: linear-gradient(39deg, rgba(52,73,94,1) 17%, rgba(52,73,94,1) 24%, rgba(61,89,117,1) 87%);
    height: 550px;
    border-radius: 10px;

    

}
nav h5{
    width:20%;
    float: left;
    padding: 15px;
    color:azure;
}
nav {
    width: 100%;
    display: flex;
    box-shadow: 10px 10x 5px 10px gray;
    margin: 0 auto;
    height:50px;
    line-height: 50px;


}
nav ul {
    width: 80%;
    list-style-type: none;
    display: inline-flex;
    
}
nav ul li{
    float:right;
}
nav ul li a{
    padding: 10px;
}
.edit_table{
    border-top:none;
}
.todo_app{
    width: 70%;
    margin: 0 auto;
}
.model_edit{
    background-color: #2c3e50;
}
.cross{
    color: #f1eaea;
    text-shadow:none;
}
.edit_header{
    border-bottom: none;
}

.edit_footer{
    border-top:none;
}