<nav>
    <div> 
    <h5>To DO app</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Slack</a></li>
        <li><a href="" data-toggle="modal" data-target="#addtodo">Add Todo</a></li>
        <li><a href="">Recent</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout </a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login In </a></li>
        <li><a href="{% url 'create_user' %}">sign in</a></li>
        {% endif %}
    </ul>
</nav>