{% extends 'base.html' %}
{% block title %} Slack App {% endblock %}
{% block body %}

            <div class="todo_app">
                <table class="table edit_table">
                    {% for todo in todo %}
                    {% if forloop.counter|divisibleby:2 %}
                    <tr class="odd_class">
                        <td>{{ todo.username }}</td>
                        <td >{{todo }} </td>
                        <td> 
                            <a href=""  data-toggle="modal" data-target="#edit_todo{{ todo.id }}" > <i class="far fa-edit"></i></a> |
                            <i class="far fa-trash-alt"></i>
                        </td> 
                    </tr>
                    {% else %}
                    <tr class="even_class">
                      <td>{{ todo.username }}</td>
                      <td >{{todo }} </td>
                      <td> 
                         <a href=""  data-toggle="modal" data-target="#edit_todo{{ todo.id }}" > <i class="far fa-edit"></i></a> |
                          <i class="far fa-trash-alt"></i>
                      </td> 
                  </tr>
                  {% endif %}
                    {% endfor %}
                </table>
            </div>

          <!--Pagination-->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if todo.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ todo.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item hidden">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% endif %}
              {% for i in todo.paginator.page_range %}
                {% if todo.number == i %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      {{ i }}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if todo.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ todo.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item hidden">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
          <!--end of Pagination-->







  <!-- Add todo  html -->
  
  <div class="modal fade" id="addtodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content model_edit">
        <div class="modal-header edit_header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create To do List </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="cross" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'create_todo' %}" method="POST">
                <div class="form-group">
                  {% csrf_token %}
                  <input type="text" name='todo' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="add a todo">
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
        <div class="modal-footer edit_footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Edit Todo -->
  <div class="modal custom-modal fade" id="edit_todo{{ todo.id }}" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content model_edit">
        <div class="modal-header edit_header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit To do List </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="cross" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
                <div class="form-group">
                  {% csrf_token %}
                  <input type="text" name='todo' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="add a todo" value="{{ todo.list_name }}">
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
        <div class="modal-footer edit_footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Delete todo -->
{% endblock %}